@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --button-hover-color: #ff9e3da5;
  --background-color: #f9eca6;
  --bg-color: #99988f;
  --bg2-color: #e6e4da82;
  --buttons-color: #ba5b38;
}
.font-dancing {
  font-family: 'Dancing Script', serif; 
}

:root {
  --v1: calc(max(9vw, 11vh));
}

body {
  overflow-x: hidden;
}

.hexagon {
  position: relative;
  width: var(--v1);
  height: calc(var(--v1) * 1.1);
  margin: calc(var(--v1) * 0.04) calc(var(--v1) * 0.02);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #e6e4da82;
  transition: background-color 0.3s ease;
}

.row {
  display: inline-flex;
  margin-top: calc(var(--v1) * -0.32);
}

.row:nth-child(even) {
  margin-left: calc(var(--v1) * 0.52);
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #ffffff; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #ba5b38; 
  border-radius: 5px; 
  border: 0.5px solid #eff1f5; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9e3d;
}

